.hero {
  display: flex;
  flex-direction: column;
}

.hero__titles_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}
.hero__titles-main {
  font-size: 36px;
  margin: 0;
  text-align: center;
}
.hero__titles-sub {
  font-size: 28px;
  margin: 0;
  text-align: center;
}
