.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__avatar {
  border-radius: 50%;
  border: 6px solid #000;
  width: 180px;
  margin-top: 40px;
}

.hero__titles_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}
.hero__titles-main {
  font-size: 36px;
  margin: 0;
  text-align: center;
}
.hero__titles-sub {
  font-size: 28px;
  margin: 0;
  text-align: center;
}
