.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__avatar {
  border-radius: 50%;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.18);
  border: solid 0.5px rgba(242, 242, 242, 0.3);
  width: 180px;
}

.hero__titles_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}
.hero__titles-main {
  font-size: 36px;
  margin: 0;
  text-align: center;
  color: #f2f2f2;
}
.hero__titles-sub {
  font-size: 28px;
  margin: 0;
  text-align: center;
  color: var(--text-subtitle);
}

h3.hero__titles-sub {
  font-weight: 400;
}
