.main {
  flex: 1 0 auto;
}

.cards__text {
  margin: 40px 0 34px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
}

.main__section {
  padding: 72px 0;
  scroll-margin-top: 110px;
}

.main__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.main__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1;
}