.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 32px 0 28px; */
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  padding: 20px;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
}

.header__logo {
  margin-right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  border: 3px solid black;
}

.header__nav {
  padding: 0;
  display: flex;
  gap: 12px;
  list-style-type: none;
}

.header__nav-item {
  font-weight: 700;
  font-size: 20px;
  line-hieght: 24px;
}
